  /* .sidescroll {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: scroll;
  } */

/* 
  .roundsidebar {
    border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 150px;
  } */

  .left-sidebar {
    height: 0%;
    margin-bottom: 20%;
  }